#section_join_game {
    background: linear-gradient(234.56deg, #011425 16.66%, #00101D 84.21%);
    position: relative;
    margin: 0;
    padding: 0;
}
textarea#json_data {
    height: 500px !important;
}
#section_join_game .bg_hand {
    /*width: 49%;*/
    width: 46%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0.7;
}
#section_join_game .company_logo {
    width: 181px;
    height: auto;
    margin: 69px 0 0;
    float: left;
    z-index: 1;
    position: relative;
}
#section_join_game .company_text_explain {
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #FFBC0C;
    float: left;
    clear: left;
    margin: 13px 0 0;
    letter-spacing: 0.5px;
}
#section_join_game .game_title_top {
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    color: white;
    float: left;
    clear: left;
    margin: 19px 0 0;
}
#section_join_game .game_title {
    font-weight: bold;
    font-size: 74px;
    line-height: 106px;
    color: white;
    float: left;
    clear: left;
    margin: 0 0 20px;
}
#section_join_game .game_gem {
    float: left;
    clear: left;
    position: relative;
}
#section_join_game .game_gem span {
    background: linear-gradient(76.89deg, #1895FF 7.44%, #2FC4DC 40.82%, #A0CEF5 50.43%, #37D6CE 63.23%, #4BFFAF 95.24%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 96px;
    line-height: 125px;
    display: block;
    float: left;
}
#section_join_game .game_gem:before {
    content: '';
    position: absolute;
    top: -390px;
    left: -180px;
    width: 921px;
    height: 914px;
    background: url(/images/login/gem_stone_blur.png) center center no-repeat;
    background-size: contain;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: changeOpacity;
}
#section_join_game .game_gem img {
    width: 420px;
    position: absolute;
    top: -140px;
    left: 60px;
}
#section_join_game .game_gem_list {
    float: left;
    clear: left;
    list-style-type: none;
    margin: 20px 0 0;
}
#section_join_game .game_gem_list li {
    float: left;
    clear: left;
    position: relative;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: white;
    padding: 0 0 0 40px;
}
#section_join_game .game_gem_list li:before {
    content: '';
    display: block;
    width: 55px;
    height: 54px;
    position: absolute;
    top: -7px;
    left: -17px;
    background: url(/images/login/gem_stone_small.png) center center no-repeat;
    background-size: contain;
}
#section_join_game .join_mission_btn {
    display: block;
    float: left;
    clear: left;
    width: 230px;
    height: 50px;
    background: linear-gradient(270.61deg, #FF9515 1.19%, #FFBF0B 99.69%);
    text-align: center;
    line-height: 50px;
    font-weight: 900;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
#section_join_game .join_mission_btn:hover {
    background: linear-gradient(170.61deg, #FF9515 1.19%, #FFBF0B 99.69%);
}
#section_join_game .join_mission_btn_wrapper2 .join_mission_btn {
    background: linear-gradient(270.61deg, #ff9515cf 1.19%, #ffbf0bb5 99.69%);
}
#section_join_game .join_game_rewards {
    float: left;
    clear: left;
    width: 100%;
    /*margin: 210px 0 85px;*/
    margin: 140px 0 85px;
    display: flex;
    justify-content: center;
}
#section_join_game .join_mission_btn_wrapper {
    float: left;
    /*clear: left;*/
    /*width: 100%;*/
    width: 340px;
    margin: 30px 0 0;
    position: relative;
    z-index: 2;
}
#section_join_game .game_gem_list + .join_mission_btn_wrapper {
    clear: left;
}
#section_join_game .join_game_reward_item {
    width: 360px;
    margin: 0 10px;
}
#section_join_game .join_game_reward_item_center {
    float: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: white;
    width: 210px;
    text-align: center;
    padding: 0 3px;
    position: relative;
    margin: 30px 0 0;
}
#section_join_game .join_game_reward_item_center:before {
    content: '';
    position: absolute;
    top: -200px;
    left: -140px;
    width: 472px;
    height: 359px;
    background: url(/images/login/reward_blur.png) center center no-repeat;
    background-size: contain;
}
#section_join_game .join_game_reward_item_subtitle {
    font-weight: 300;
    font-size: 16px;
    float: left;
    width: 100%;
    margin: 5px 0 0;
}
#section_join_game .join_game_reward_item_title {
    float: left;
    width: 100%;
}
#section_join_game .join_game_reward_item_left,
#section_join_game .join_game_reward_item_right {
    float: left;
    width: 73px;
}
#section_join_game .join_game_reward_item_left img,
#section_join_game .join_game_reward_item_right img {
    width: 100%;
    height: auto;
}
#section_join_game .bg_list1 {
    width: 155px;
    height: auto;
    position: absolute;
    top: 40px;
    left: -230px;
}
#section_join_game .bg_list2 {
    width: 86px;
    height: auto;
    position: absolute;
    top: 270px;
    left: -230px;
}
#section_join_game .bg_list4 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 385px;
    height: auto;
}
#section_join_game .bg_list3 {
    width: 237px;
    height: auto;
    position: absolute;
    left: -240px;
    bottom: 150px;
}
#section_join_game .bg_list5 {
    width: 128px;
    height: auto;
    position: absolute;
    top: 60px;
    left: 590px;
}
#section_join_game .bg_list6 {
    width: 118px;
    height: auto;
    position: absolute;
    top: 580px;
    left: 610px;
    display: none;
}
#section_join_game .bg_list7 {
    width: 44px;
    position: absolute;
    top: 770px;
    right: 0;
}
#section_join_game .join_mission_btn_triangle {
    position: absolute;
}
#section_join_game .join_mission_btn_triangle1 {
    left: -40px;
    top: -20px;
}
#section_join_game .join_mission_btn_triangle2 {
    left: 5px;
    bottom: -20px;
}
#section_join_game .join_mission_btn_triangle3 {
    left: 215px;
    top: -12px;
}
#section_join_game .join_mission_btn_triangle4 {
    left: 175px;
    bottom: -32px;
}
.mission_control_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: white;
    width: 100%;
    float: left;
    text-align: center;
    margin: 117px 0 0;
}
.game_code_field_wrapper {
    width: 100%;
    float: left;
    text-align: center;
    margin: 38px 0 70px;
}
.game_code_field_wrapper_inner {
    position: relative;
    width: 310px;
    display: inline-block;
}
.game_code_field_wrapper input[type="text"] {
    background: linear-gradient(90.15deg, #011225 1.24%, #05203D 79.69%, #011225 99.39%);
    width: 310px;
    height: 60px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #00F0FF;
    padding: 0 20px;
}
.game_code_field_wrapper_inner .border_right {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 22px;
    height: 66px;
    border-top: 5px solid #FF004E;
    border-bottom: 5px solid #FF004E;
    border-right: 6px solid #FF004E;
}
.game_code_field_wrapper_inner .border_left {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 22px;
    height: 66px;
    border-top: 5px solid #FF004E;
    border-bottom: 5px solid #FF004E;
    border-left: 6px solid #FF004E;
}
.game_code_field_wrapper .svg_right {
    position: absolute;
    top: 30px;
    left: 325px;
}
.game_code_field_wrapper .svg_right:before {
    content: '';
    position: absolute;
    top: -32px;
    left: 0;
    width: 2px;
    height: 65px;
    background: #FF004E;
}
.game_code_field_wrapper .svg_left {
    position: absolute;
    top: -37px;
    right: 325px;
}
.game_code_field_wrapper .svg_left:before {
    content: '';
    position: absolute;
    top: 35px;
    right: 0;
    width: 2px;
    height: 65px;
    background: #FF004E;
}
.game_code_error_code {
    color: #FF004E;
    font-weight: bold;
    font-size: 20px;
    margin: 20px auto 0;
    width: 80%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.game_code_error_code_active {
    opacity: 1;
    visibility: visible;
}
.game_code_field_wrapper_inner input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #00F0FF;
}
.game_code_field_wrapper_inner input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: #00F0FF;
}
.game_code_field_wrapper_inner input[type="text"]:-ms-input-placeholder { /* IE 10+ */
    color: #00F0FF;
}
.game_code_field_wrapper_inner input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: #00F0FF;
}
.game_code_field_wrapper_inner input[type="text"]:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(0 240 255 / 30%);
}
.game_code_field_wrapper_inner input[type="text"]:focus::-moz-placeholder { /* Firefox 19+ */
    color: rgb(0 240 255 / 30%);
}
.game_code_field_wrapper_inner input[type="text"]:focus:-ms-input-placeholder { /* IE 10+ */
    color: rgb(0 240 255 / 30%);
}
.game_code_field_wrapper_inner input[type="text"]:focus:-moz-placeholder { /* Firefox 18- */
    color: rgb(0 240 255 / 30%);
}
.section_join_game_language {
    position: absolute;
    top: 15px;
    right: 310px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
.section_join_game_language_item_caret {
    width: 10px;
    height: 6px;
    border: none;
    background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M8.66792 -5.82271e-08L10 1.27203L5.00022 6L-5.56023e-08 1.27203L1.33253 -3.78867e-07L5.00022 3.46868L8.66792 -5.82271e-08Z' fill='white'/></svg>") center center no-repeat;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}
.section_join_game_language_item {
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 5px 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}
.section_join_game_language_item_active {
    opacity: 1;
    visibility: visible;
}
.section_join_game_language_item_text {
    margin: 0px 0 0 7px;
}